<app-back-button></app-back-button>
<br>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <button type="button" class="btn btn-primary create-btn" [routerLink]="['/create-emp']">Create</button>

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th class="mobile-hide" scope="col">Email</th>
                            <th class="mobile-hide" scope="col">Contact#</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees">
                            <td>{{employee.id}}</td>
                            <td>{{employee.firstName}}</td>
                            <td>{{employee.lastName}}</td>
                            <td class="mobile-hide" >{{employee.email}}</td>
                            <td class="mobile-hide" >{{employee.contactNo}}</td>
                            <td>
                                <div class="btn-actions">
                                    <button class="btn btn-primary" type="button"
                                        (click)="viewEmployee(employee.id)">View</button>
                                    <button class="btn btn-primary safe-btn" type="button"
                                        (click)="editEmployee(employee.id)">Edit</button>
                                    <button class="btn btn-primary danger-btn" type="button"
                                        (click)="deleteEmployee(employee.id)">Delete</button>
                                    <!-- <app-delete-button></app-delete-button> -->
                                </div>


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>