<app-back-button></app-back-button>
<br>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <button type="button" class="btn btn-primary create-btn" [routerLink]="['/create-emp']">Create</button>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact#</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees">
                            <td>{{employee.id}}</td>
                            <td>{{employee.firstName}}</td>
                            <td>{{employee.lastName}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.contactNo}}</td>
                            <td>
                                <div class="btn-actions">
                                    <button class="btn btn-primary" type="button"
                                        [routerLink]="['/view-emp']">View</button>
                                    <button class="btn btn-primary" type="button"
                                        [routerLink]="['/edit-emp']">Edit</button>
                                        <button class="btn btn-primary" type="button"
                                        (click) = "deleteEmployee(employee.id)" >delete</button>
                                    <!-- <app-delete-button></app-delete-button> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>