<app-back-button></app-back-button>

<div class="container">
  <h1>Create Employee</h1>
  <br>
  <div class="card shadow">
    <div class="card-header py-3">
      <h4 class="m-0">Employee Information</h4>
    </div>
    <div class="card-body">
      <form class="row g-3" action="">

        <div class="col-md-6">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" 
          [(ngModel)] = "employee.firstName" name="firstName">
        </div>
        <div class="col-md-6">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName"
          [(ngModel)] = "employee.lastName" name="lastName">
        </div>
      
        <div class="col-md-6">
          <label for="contactNum" class="form-label">Contact Number</label>
          <input type="tel" class="form-control" id="contactNo"
          [(ngModel)] = "employee.contactNo" name = "contactNo">
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email"
          [(ngModel)] = "employee.email" name = "email">
        </div>
      </form>
      <br>
      <div class="btn-actions">
        <button type="button" class="btn btn-primary" (click)="submit()">
          <span class="button-text">Submit</span>
      </button>
        <app-cancel-button></app-cancel-button>
      </div>
    
    </div>
  </div>
</div>
  