/* h2{
    text-align: center;
    height: 60px;
}
.btn{
    
    background-color: aqua;
    width: 70px;
    margin-top: 50px;
    margin-left: 5px;
    text-align: center;
    box-shadow: gray;
    border: none;
    color: black;
    
}
.btn:hover{
    background-color:gray ;
} */