.container{
    width: 500px;
}

h1{
    color:var(--red)
}

h4{
    font-weight: bold;
    font-size: 2rem;
}

.card-header{
    background-color:var(--red);
}

.card-header h1{
    color:var(--white);
}

.card-body{
    text-align: center;
}

.btn-actions{
    display: block;
    text-align: center;
}

.cancel-btn {
    background: var(--light-blue);
    color: var(--light);
    border: 2px solid var(--light-blue);
    margin-left:5px;
}

.cancel-btn:hover {
    background: var(--white);
    border: 2px solid var(--light-blue);
    color: var(--light-blue);
}

@media only screen and (max-width: 768px) {
    p {
        padding: 1px;
        margin: 2px;
    }
}