<!-- 
<div class="container ">

    <h1 class="text-center ">Welcome</h1>

    <div class="text-center">
        <a routerLink="../view-all-emp" class="btn btn-primary btn-lg" (click)="viewEmpList()">View Employee List</a>
    </div>
    
    <img src="" alt="">

</div> -->



<div class="d-flex masthead text-center d-flex align-items-center">
    <div class="container ">
        <h1 class="mb-5">Welcome!</h1>
        <button class="btn btn-primary btn-xl" type="button" [routerLink]="['/view-all-emp']">View Employees</button>
    </div>
</div>