

<div class="container">
<app-back-button></app-back-button>
<div class="container"></div>
    <h2>View Employee</h2>
    <h4>Details: </h4>
    <form action="">
      
          <label for="firstname" class="form-label">First Name: <b>John</b></label><br>
        
  
          <label for="surname" class="form-label">Last Name: <b>Doe</b></label><br>
        
  
          <label for="email" class="form-label">Email: <b>johndoe@anemail.com</b></label><br>
        
  
          <label for="contact" class="form-label">Contact: <b>0118 999 881 999 </b></label><br>
        
      
    </form>
    <br>
    <button type="button" class="btn btn-primary" [routerLink]="['/edit-emp']">Edit</button>
    <app-delete-button></app-delete-button>
    

  </div>
