<app-back-button></app-back-button>

<div class="container">
    <h1>View Employee</h1>
    <br>
    <div class="card shadow">
        <div class="card-header py-3">
            <h4 class="m-0">Employee Information</h4>
        </div>
        <div class="card-body">
            <app-employee-form></app-employee-form><br>

            <div class="btn-actions">
                  <button type="button" class="btn btn-primary" [routerLink]="['/edit-emp']">Edit</button>
                  <app-delete-button></app-delete-button>
            </div>
        </div>
    </div>
</div>