<app-back-button></app-back-button>

<div class="container">
    <h1>View Employee</h1>
    <br>
    <div class="card shadow">
        <div class="card-header py-3">
            <h4 class="m-0">Employee Information</h4>
        </div>
        <div class="card-body row">
            <div class="col-md-12">
                  <label for="firstName" class="form-label info-identifier">First Name: </label>
                  <label for="empFirstname" class="form-label info">{{employee.firstName}}</label><br>
                </div>
                <div class="col-md-12">
                  <label for="lastName" class="form-label info-identifier">Last Name: </label>
                  <label for="empFirstname" class="form-label info">{{employee.lastName}}</label><br>
                </div>
              
                <div class="col-md-12">
                  <label for="contactNum" class="form-label info-identifier">Contact Number: </label>
                  <label for="contact" class="form-label info">{{employee.contactNo}}</label><br>
                </div>
                <div class="col-md-12">
                  <label for="email" class="form-label info-identifier">Email: </label>
                  <label for="email" class="form-label info">{{employee.email}}</label><br>
                </div>

            <div class="btn-actions">
                  
              <button type="button" class="btn btn-delete-btn"  (click) = "editEmployee(employee.id)" >
                <span class="button-text">Edit</span>
                </button>
                  <button type="button" class="btn btn-delete-btn"  (click) = "deleteEmployee(employee.id)" >
                    <span class="button-text">Delete</span>
                    </button>
                  <!-- <app-delete-button></app-delete-button> -->
            </div>
        </div>
    </div>
</div>