<form action="">
<div class="row g-3">
    <div class="col">
        <label for="firstname" class="form-label">Firstname</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Surname</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    <div class="col">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contact</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
  </div>
</form>