.card {
    margin:0px 50px;
}

.card-header {
    background-color: var(--light-blue);
}

.card-header h4 {
    color: var(--light);
}

.card-body {
    margin: 10px;
}

.form-label {
    font-weight: bold;
}

input{
    margin-bottom: 5px;
}