
<div class="form-container">
    <form action="">
        <div>
            <div class="col-md-6">
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" class="form-control" id="firstname">
              </div>
              
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Surname</label>
                <input type="text" class="form-control" id="inputSurname">
              </div>
        
            <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail">
              </div>

              <div class="col-md-6">
                <label for="inputContact" class="form-label">Contact</label>
                <input type="text" class="form-control" id="inputContact">
              </div>
          </div>
        </form>
</div>