
<app-header></app-header><br>

<div class="container">


    <button type="button" class="btn btn-primary" [routerLink]="['/create-emp']">Create</button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Employee name</th>
            <th scope="col">employee surname</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Function</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr *ngFor="let employee of employees"> -->
            <tr>
            <td >1</td>
            <td>John</td>
            <td>Doe</td>
            <td>johndoe@anemail.com</td>
            <td>0118 999 881 999</td>
            <td><div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="button" [routerLink]="['/view-emp']">View</button>
                <button class="btn btn-primary" type="button" [routerLink]="['/edit-emp']">Edit</button>
                <button class="btn btn-primary" type="button" [routerLink]="['/delete-emp']">Delete</button>
            </div>
            </td>
        
            </tr>
        </tbody>
    </table> 
</div>