/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

:root{
    --light: #E9F8F9;
    --light-blue: #C0EEF2;
    --dark-blue: #537FE7;
    --dark: #181823;
}

.container{
    align-content: center;
}

h1{
    padding-left: 4rem;
}

a .btn, button{
    background-color: var(--dark-blue);
    outline: none;
    padding: 5px;
    margin: 5px;
    background:var(--dark-blue);
    border-color: none;
}

.btn:hover{
    background-color: var(--light);
    color:var(--dark-blue);
    border-color: var(--dark-blue);
   
}


h1,h2,h3,h4 p, a, label, input{
    color: var(--dark);
}

