/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

:root{
    --light: #f1f3f4;
    --dark: #212121;
    
    --black:#0c0c0c;
    --white: #ffffff;
    --off-white:#dddace;

    --dark-blue:#002756;
    --light-blue: #035b7a;
    --red:#8a3b3f;
    --green:#00633B;

}

.container{
    align-content: center;
}

.btn, button{
    background-color: var(--light-blue);
    outline: none;
    padding: 5px;
    margin: 5px;
    background:var(--light-blue);
    border: 1.5px solid var(--light-blue);
    width: 20%;
}

.btn:hover{
    background-color: var(--white);
    color:var(--light-blue);
    border: 1.5px solid var(--light-blue);
}

form{
    padding-left: 0rem;
    padding-right: 45rem;
}


h1,h2,h3,h4 p, a, label, input{
    color: var(--dark);
}

body{
    background: var(--dark);
}